<div id='page_wrapper'>
  <div id='profile_image'>
    <%= image_tag 'profile.jpeg'  %> 
  </div>
  <div id='content'>
    <h1>Mr. F figure</h1>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Leite de capivaris, leite de mula manquis sem cabeça. Diuretics paradis num copo é motivis de denguis.</p>
  </div>
</div>